.mainNav {
  background: #F0F0F0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1em;
}

  .mainNav-link {
    padding: 1em;
    margin-right: 1em;
    color: #333;
    text-decoration: none;
    background: rgba(255,255,255,.3);
  }

  .mainNav-link:hover {
    color: #FCFCFC;
    text-decoration: underline;
    background: rgba(0,0,0,.7);
  }

.spacer-v-s {
  display: block;
  clear: both;
  margin: 2em 0;
}

.spacer-v-xs {
  display: block;
  clear: both;
  margin: 1em 0;
}
